{{> navigation }}

<div class="container page">
    <div class="title-breadcrums">
        <h1>Allocated Courses</h1>
        <p>Dashboard  /  User  /  Courses</p>
    </div>

    {{> user_navigation }}

    <div class="container dashboard-wrapper header">
        <div class="row">
            <div class="col-md-12">
                <p style="margin-bottom: 20px; font-weight: bold; float: left;">
                    Allocate Course
                </p>
                
            </div>
            <div class="col-md-12">
                <div class="dashboard content">
                    <form class="course-allocation" method="post">
                        <div class="row">
                            <div class="col-md-6 input-container">
                                <h4>Select Course</h4>
                                <select name="course_id">
                                    {{#each courses}}
                                        {{#dataValues}}
                                            <option value="{{id}}">{{name}}</option>
                                        {{/dataValues}}
                                    {{/each}}
                                </select>
                            </div>

                            <div class="col-md-6 input-container">
                                <h4>Session Type</h4>
                                <select>
                                    <option>Theory Session</option>
                                    <option>Practical Session</option>
                                </select>
                            </div>

                            <div class="col-md-6 input-container">
                                <h4>Number of groups (practical sessions)</h4>
                                <input name='group_count'>
                            </div>

                            <div class="col-md-6 input-container checkbox">
                                <input type="checkbox" id="coordinating" name="coordinating">
                                <label for="coordinating">User is Coordinating course</label>
                                <br>
                                <input type="checkbox" id="teaching" name="teaching">
                                <label for="teaching">User is teaching the course for the first time</label>
                            </div>

                            <div class="col-md-12">
                                <button type="submit" class="dashboard-button">Allocate Course</a>
                            </div>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#users-table").DataTable();
    });
</script>
