{{> navigation }}

<div class="container page">
    <div class="title-breadcrums">
        <h1>Workload Sheets</h1>
        <p>Dashboard</p>
    </div>

    <div class="container dashboard-wrapper header">
        <div class="row">
            <div class="col-md-12">
                <form action="#" class="search-form">
                    <input name="name" placeholder="Search" />
                </form>
                <a class="dashboard-button left" href="/user/1/allocate-course" data-toggle="modal" data-target="#exampleModal">Add Sheet</a>
            </div>
            <div class="col-md-12">
                <div class="dashboard content">
                    <table id="users-table" class="users-table table table-bordered" style="width: 100%">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>State</th>
                                <th>Date Created</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each worksheets}}
                                {{#dataValues}}
                                    <tr>
                                        <td>{{name}}</td>
                                        <td>{{state}}</td>
                                        <td>{{created_at}}</td>
                                        <td class="icons"><a href="/workload/{{id}}" class="icon"><i class="far fa-eye"></i> View</a><span class="icon"><i class="fas fa-trash-alt"></i></span></td>
                                    </tr>
                                {{/dataValues}}
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Course</h5>
                <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" class="dialog-form" id="modal-form" action="/workload">
                    <p>Name</p><br>
                    <input name="name" />
                    <input name="user_id"  value="1" hidden/>
                </form>
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                >
                    Close
                </button>
                <button class="btn btn-primary" type="submit" form="modal-form">
                    Create Form
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#users-table").DataTable();
    });
</script>
