{{> navigation }}

<div class="container page">
    <div class="title-breadcrums">
        <h1>Allocated Courses</h1>
        <p>Dashboard  /  User  /  Courses</p>
    </div>

    {{> user_navigation }}

    <div class="container dashboard-wrapper header">
        <div class="row">
            <div class="col-md-12">
                <form action="#" class="search-form">
                    <input name="name" placeholder="Search" />
                </form>
                <a class="dashboard-button left" href="/users/1/courses/allocate">Add Course</a>
            </div>
            <div class="col-md-12">
                <div class="dashboard content">
                    <table id="users-table" class="users-table table table-bordered" style="width: 100%">
                        <thead>
                            <tr>
                                <th>Course Name</th>
                                <th>Course Code</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each courses_details}}
                                {{#dataValues}}
                                    <tr>
                                        <td>{{name}}</td>
                                        <td>{{programme_code}}</td>
                                        <td class="icons"><span class="icon"><a class="icon"><i class="fas fa-trash-alt"></i> Remove</a></span></td>
                                    </tr>
                                {{/dataValues}}
                            {{/each}}
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#users-table").DataTable();
    });
</script>
