@charset "UTF-8";

/*
* Author: Team Lingua
*/


body h1,
h2,
h3,
p,
span {
    margin: 0;
    padding: 0;
}

.login_page {
    background-color: #f9fafc;
}

.login-form {
    max-width: 400px;
    min-width: 400px;
    margin: 0 auto;
    padding: 25px 40px;
    box-shadow: rgb(0 0 0 / 10%) 0 0 10px;
    min-height: 400px;
}

.login-form h1 {
    text-align: center;
    color: #5e6c84;
    font-size: 16px;
    letter-spacing: -0.01em;
    line-height: 28px;
    margin-top: 10px;
    margin-bottom: 60px;
}
.login-form .button {
    background: #fff;
    color: rgba(0, 0, 0, 0.54);
    box-shadow: rgb(0 0 0 / 20%) 1px 1px 5px 0;
    border-color: transparent;
    text-align: center;
    border-radius: 3px;
    width: 99%;
    height: 39px;
    padding-top: 0;
    margin-bottom: 12px;

    /* center verically */
    top: 50%;
    right: 1%;
    position: absolute;
    transform: translateY(-50%);
    transform: translateX(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.login-form .button .lable {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    color: #505f79;
    padding: 3px;
    height: 32px;
    line-height: 32px;
}

.page-header {
    margin: 0;
    padding: 0;
}

.page-header .profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float: right;
}

.page-logo {
    margin-bottom: 40px;
}

.page-logo h1 {
    font-size: 24px;
}

.navigation {
    padding: 30px;
}

.page-nav {
    padding: 0;
}

.title-breadcrums {
    margin-top: 30px;
    margin-bottom: 30px;
}

.title-breadcrums h1{
    font-size: 24px;
}

.page-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.page-nav li {
    float: left;
    margin-right: 33px;
    font-size: 17px;
}

.dashboard-wrapper {
    min-height: 528px;
    min-width: 100px;
    box-shadow: rgb(0 0 0 / 10%) 0 0 10px;
    background-color: #fff;
    margin-bottom: 40px;
    padding: 30px;
}

.dashboard-button {
    background-color: #336cfb;
    width: 162px;
    text-align: center;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
}

.dashboard-button.left {
    float: right;
}

.search-form {
    float: left;
}

.search-form input {
    border-radius: 5px;
    background-color: #f6f8fb;
    border: 1px solid transparent;
    padding: 10px;
    width: 350px;
}

.search-form input:focus {
    border: 1px solid red;
}

.dashboard.content {
    margin-top: 41px;
}

.users-table tr {
    margin: 15px;
}

.users-table .icon {
    margin-right: 15px;
    text-align: center;
}

.users-table .icons {
    text-align: center;
}

.users-table .icon {
    cursor: pointer;
}

.create-user {
    margin: 0 auto;
}

.create-user .dashboard-button {
    margin-top: 30px;
}
.create-user .input-container {
    margin-bottom: 15px;
}

.create-user .input-container input,
select {
    width: 375px;
    padding: 8px;
    border-radius: 5px;
}

.add-user-form {
    padding-top: 30px;
    padding-left: 60px;
}

.user_nav {
    width: 1108px;
    height: 121px;
    box-shadow: rgb(0 0 0 / 10%) 0 0 10px;
    margin-bottom: 32px;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 30px;
}

.user_nav .username {
    margin-bottom: 18px;
    font-weight: bold;
}

.user_nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.user_nav li {
    float: left;
    margin-right: 23px;
}

.user-details .input-container {
    margin-bottom: 30px;
}

form h4 {
    font-size: 16px;
}

.course-allocation input,
select {
    width: 375px;
    padding: 6px;
    border-radius: 6px;
}

.course-allocation .input-container {
    margin-bottom: 51px;
}

input[type="checkbox"] {
    position: relative;
    width: 17px;
    height: 17px;
    margin-right: 10px;
    border: 1px solid #808080;
    content: "";
    background: #fff;
}

.input-container.checkbox{
    margin-top: 20px;
}

.component-title {
    background-color: #f6f8fb;
    font-size: 18px;
    padding: 10px;
    padding-left: 15px;
    margin-bottom: 20px;
}

.dialog-form input{
    margin-bottom: 15px;
    width: 100%;
}


/* ---------------------------------- */
/* Error Page
------------------------------------- */
#main{
    display: table;
    width: 100%;
    height: 100vh;
    text-align: center;
}

.fof{
	  display: table-cell;
	  vertical-align: middle;
}

.fof h1{
	  font-size: 50px;
	  display: inline-block;
	  padding-right: 12px;
	  animation: type .5s alternate infinite;
}

@keyframes type{
	  from{box-shadow: inset -3px 0px 0px #888;}
	  to{box-shadow: inset -3px 0px 0px transparent;}
}

/* ---------------------------------- */
/* Workload Sheet
------------------------------------- */
.dashboard-wrapper.worksheet .tab-pane{
    padding: 40px;
}

/* ---------------------------------- */
/* User permissions
------------------------------------- */
.dashboard-wrapper.permissions h5{
    font-size: 15px;
}

.dashboard-wrapper.permissions ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-bottom: 20px;
}